@tailwind base;
@tailwind components;
@tailwind utilities;

ul{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color:red;
  color:pink;
}

body {
  background-color: pink;
  
}

.contaner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  width: 90%;
}

img{
  margin-right:200px;
  border-radius: 50%;
  border:2px solid red;
  height:300px;
width: 300px;

}


.profilePic{
  margin-right: 200px;
  margin-top: 100px;
  border-radius: 50%;
  
  
  
}

.intro{
  font-size: 30px;
  color:rgb(196,58,196);
  margin-left: 150px;
  margin-top: 100px;
}


